* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;

}

.header {
    background-image: linear-gradient(to right, rgba(255, 0, 242, 0.572), rgb(0, 128, 255), rgba(3, 245, 51, 0.795));
    padding: 1rem;

    .header__flexbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header__logobox {
            img {
                background: none;
                height: 40px;
                mix-blend-mode: color-burn;
                filter: brightness(1) invert(1);
            }
        }

        .header__searchbox {

            .header__search-form {
                background: white;
                border-radius: 25px;
                position: relative;

                input {
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 25px;
                    font-size: 20px;
                    padding: 5px 40px 5px 20px;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    position: absolute;
                    top: 3px;
                    right: 5px;
                    width: 30px;
                    height: 100%;
                    border-radius: 50%;
                    cursor: pointer;
                    border: none;
                    background: none;
                    font-size: 18px;

                    &:hover img {
                        opacity: 0.6;
                    }
                }

            }

        }
    }
}

main {
    margin: 2rem;

    .main-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;

        .content-box__figure {
            img {
                width: 100%;
                aspect-ratio: 4 / 3;
                object-fit: cover;
            }

        }
    }
}


@media screen and (max-width: 800px) {
    main {
        margin: 1.5rem;

        .main-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

        }
    }
}

@media screen and (max-width: 700px) {

    .header__flexbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    main {
        margin: 1.5rem;

        .main-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

        }
    }
}

@media screen and (max-width: 600px) {

    .header__flexbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    main {
        margin: 1.2rem;

        .main-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.2rem;

        }
    }
}

@media screen and (max-width: 500px) {

    .header__flexbox {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        row-gap: 0.8rem;

        .header__logobox {
            img {
                background: none;
                height: 30px !important;
            }
        }
    }

    main {
        margin: 1.2rem;

        .main-box {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1.2rem;

        }
    }
}